.check-site-security {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 8px;
    color: #d6d9dc;
}


.result-security {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
} 

.result-security p {
    font-size: 14px;
}
