body {
  width: 420px;
  height: 500px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 10px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h2,
p {
  margin: 0;
  padding: 0;
}

.in-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

